[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
python-dotenv = "*"
django-cors-headers = "*"
pillow = "*"
django-rest-auth = "*"
psycopg2-binary = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.12"
